/* You can add global styles to this file, and also import other style files */
#title{
    background-color:  #04838F;
    color: white;
    font-style: normal;
    border-radius: 10px;
    font-size: 32px;
 }

//  .ngx-charts-tooltip-content.type-tooltip {
//     background-color:  #04838F !important;
   
//   }